
# CLI processor
click

# faster json
orjson

# pluralization
inflection~=0.5.1

# fhir model
fhir.resources


# yaml
PyYAML

#
flatten_json

#
dataclass-csv

# data dictionary and PFB
gen3==4.22.2


# faster requests
requests
requests-cache

# function caching
joblib
# html parsing (urn:oid lookups)
beautifulsoup4

# faster json schema
fastjsonschema==2.19.0

# json pointer
jsonpointer

# jq bindings
pyjq

# uptodate
jsonschema==4.20.0

referencing
