
# CLI processor
click

# faster json
orjson==3.9.5

# pluralization
inflection==0.5.1

# fhir model, 7.1.0 is a breaking change - pydantic2
fhir.resources==7.1.0

# yaml
# gdcdictionary 1.2.0 requires PyYAML~=5.1, but you have pyyaml 6.0.1 which is incompatible.
PyYAML  # ==6.0.1

# Python functions for flattening a JSON object to a single dictionary of pairs, and unflattening that dictionary back to a JSON object
flatten-json==0.1.13

# Use dataclasses instead of dictionaries to represent the rows in the CSV file.
dataclass-csv==1.4.0

# data dictionary and PFB
# gen3==4.22.2

# faster requests
requests==2.31.0
requests-cache==1.1.0

# function caching
joblib==1.3.2

# html parsing (urn:oid lookups)
beautifulsoup4==4.12.2

# faster json schema
fastjsonschema==2.19.0

# json pointer
jsonpointer==2.4

# glom bindings
glom==23.5.0

# uptodate jsonschema
jsonschema==4.20.0

# JSON reference resolution
referencing==0.31.0

# Fast Avro for Python
fastavro

# gen3 tracker
gen3-tracker==0.0.4rc10
