
# CLI processor
click

# faster json
orjson

# pluralization
inflection~=0.5.1

# fhir model
fhir.resources

# yaml
PyYAML

#
flatten_json

#
dataclass-csv

# data dictionary and PFB
gen3

# faster requests
requests
requests-cache

# function caching
joblib
# html parsing (urn:oid lookups)
beautifulsoup4

# faster json schema
fastjsonschema
